// fonts

$font: Arial, Helvetica, sans-serif;

// background colour

$background: #000;

// output colour

$output: #fff;

// number button colours

$number-background: #505050;
$number-font: #fff;
$number-hover: #d3d3d3a8;
$number-focus: #D3D3D3;

// Number operator colours

$operator-background: #ff9500;
$operator-font: #fff;
$operator-hover: #ff9500a8;

// Manipulation operator colours 

$manipulation-background: #D4D4D2;
$manipulation-font: #1C1C1C;
$manipulation-hover: #D4D4D2a8;