* {
    margin: 0;
}

main {
    display: flex;
    background-color: red;
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
    align-content: center;

}

.calculator {

    &__result {
        color: $font;
        text-align: right;
        padding: 20px 20px 20px 0;
        font-size: 20px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__container {
        margin: 100px;
        background-color: black;
        padding: 20px;
        
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
    }

    &__grid-area {
        grid-area: 5 / 1 / 6 / 3; 
    }
    
}

